# pydata-sphinx-theme
# git+https://github.com/pandas-dev/pydata-sphinx-theme.git@master
# sphinx==5.2.3
# sphinx-panels==0.6.0
# pygments
# sphinx_rtd_theme==1.2.0
# docutils==0.17.1
# myst_parser
# myst
# sphinx_rtd_theme
# Requirements for core
jinja2
markdown
mkdocs
mkdocs-material
mkdocs-material-extensions
pygments
pymdown-extensions
# Requirements for plugins
colorama
regex
requests
mkdocs-git-revision-date-plugin
# makes it so our navigation tree is built from our directory tree
mkdocs-include-dir-to-nav
# allow wikilinks aka roamlinks for obsidian compatibility
mkdocs-roamlinks-plugin
#use obsidian callout format in source markdown and convert to mkdocs format on build
mkdocs-callouts
# mkdocs-table-reader-plugin
# mkdocs-mermaid2-plugin
# obs2mk
# mkdocs-awesome-pages-plugin # https://pypi.org/project/mkdocs-awesome-pages-plugin/ - we may want to come back to this one to replace include-dir-to-nav
# markdown-include
mkdocs-redirects