/* Class for red role */
.red {
    color: red;
}
/* Class for orange role */
.orange {
    color: orange;
}
/* Class for yeloowrole */
.yellow {
    color: yellow;
}
/* Override default theme max width of 800px so wide screens can view more content responsively */
.wy-nav-content {
    max-width: 1500px;
    width: auto;
}